.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.header_left, .header_right{
    display: flex;
    align-items: center;
}

.header_icon {
    height: 60px;
    width: 100px;
}


a, a > span{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

a > span:hover{
    color:rgb(118, 161, 255);
}
